

.content{
	width:100%;
	background-color:#f7f7f7;
}

.main{
	margin:0 auto;
	width:1180px;
}
/**
条件筛选
**/
#select {
    text-align: left;
    font-size: 14px;
    margin: 20px 15px 15px 5px;
}
#select dl {
    width: 1170px;
    padding: 0;
    overflow: hidden;
    zoom: 1;
}
#select dt {
    float: left;
    text-align: right;
    line-height: 28px;
}
#select dd {
    float: left;
	padding-left:20px;
    overflow: hidden;
}
#select dd div {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 13px;
    padding-bottom: 7px;
}
#select dd a.curr:link{
    border: 1px solid #42b712;
    color: #000000;
}
#select dd a, #select dd a:link, #select dd a:visited {
    padding: 2px 8px;
    border-radius: 2px;
}
/**

左部
**/
.main .left{float:left;width:920px;background-color:#fff;}
.main .left .info{margin:5px;height:47px;border:1px solid #ebebeb;line-height:47px;}


.main .left .info span{color:#ee2611;}
.main .left .info em{color:#f08200;}
.main .left .info .search{float:left;padding:0 10px;}
.main .left .info .sort{float:left;padding:0 10px;}
.main .left .info .sort a{color:#f18c24;}
.main .left .info .sort .uk-button {border: 1px solid #ebebeb;}
.main .left .info .sort em{color:#666666;}
.main .left .info .sort .uk-icon-caret-up{position:relative;left:0px;top:-5px;}
.main .left .info .sort .uk-icon-caret-down{position:relative;left:-8px;top:5px;}
.main .left .info .page{float:right;}

.main .left .info ul{}
.main .left .info ul li{float:left;width:230px;height:320px;border:1px solid #ebebeb;} 

/*右部**/
.main .right{float:left;width:485px;}