 @charset "utf-8";
 @import "normalize.css";
 @import "delimit.css";
 @import "../iconfont/iconfont.css";
 /*dl.css*/
 
 .TrHeader .TrHeadLeft {
     width: 365px;
     height: 95px;
     float: left;
     line-height: 95px;
 }
 
 .TrHeader .TrHeadLeft .TrHeadLogo {
     width: 228px;
     height: 95px;
     float: left;
 }
 
 .TrHeader .TrHeadLeft .TrHeadTrade {
     float: left;
     width: 135px;
     overflow: hidden;
     margin-top: 20px;
 }
 
 .TrHeader .TrHeadLeft .TrHeadTrade h4 {
     font-size: 24px;
     font-family: "MicrosoftYaHei";
     color: rgb(102, 102, 102);
     border-left: 1.5px solid #ddd;
     display: block;
     padding-left: 15px;
     margin-left: 15px;
     height: 50px;
     line-height: 50px;
     font-weight: bold;
 }
 
 .TrHeader .TrHeadRight {
     float: right;
 }
 
 .TrHeader .TrHeadRight ul li {
     float: left;
     height: 95px;
     line-height: 95px;
     text-align: center;
 }
 
 .TrHeader .TrHeadRight ul li.active {
     border-bottom: 1px solid #f08200;
 }
 
 .TrHeader .TrHeadRight ul li a {
     font-size: 14px;
     font-family: "MicrosoftYaHei";
     text-decoration: none;
 }
 
 .content {
     background: url(../images/img_02.jpg)no-repeat center;
     height: 636px;
 }
 
 .Userlogin {
     width: 340px;
     margin-left: 800px;
     margin-top: 120px;
     overflow: hidden;
     padding: 25px 20px 40px 20px;
 }
 
 .Userlogin font {
     font-size: 20px;
     color: #333;
     font-weight: bold;
 }
 
 .Userlogin span a {
     color: #7f7f7f;
     text-decoration: none;
 }
 
 .Userlogin span a:hover {
     color: orange;
     text-decoration: none;
 }
 
 .Userlogin .input {
     width: 300px;
     height: 30px;
     position: relative;
     padding-left: 40px;
     border-radius: 5px;
     border: 2px #ccc solid;
 }
 
 .Userlogin .input:focus {
     background-color: #fff;
     border-color: #e8c291;
     outline: none;
     -moz-box-shadow: 0 0 0 1px #e8c291 inset;
     -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
     box-shadow: 2px #e8c291 inset;
 }
 
 .user {
     background: url(../images/user.png)no-repeat center;
     background-position: 5px 2px;
     width: 25px;
     height: 25px;
     position: absolute;
     left: 0;
     z-index: 5;
     margin-top: 25px;
 }
 
 .password {
     background: url(../images/mm.png)no-repeat center;
     background-position: 5px 2px;
     width: 25px;
     height: 25px;
     position: absolute;
     left: 0;
     z-index: 5;
     margin-top: 20px;
 }
 
 .Verification {
     background: url(../images/yzm.png)no-repeat center;
     background-position: 5px 2px;
     width: 25px;
     height: 25px;
     position: absolute;
     left: 0;
     z-index: 5;
     margin-top: 20px;
 }
 
 .yzm {
     margin-top: 20px;
     display: inline-block;
 }
 
 #submit {
     background-color: #f08200;
     /*background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);*/
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;
     /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
     border-width: 1px;
     border-style: solid;
     border-color: #d69e31 #e3a037 #d5982d #e3a037;
     float: left;
     height: 45px;
     padding: 0;
     width: 300px;
     cursor: pointer;
     font: bold 15px Arial, Helvetica;
     color: #fff;
     margin-left: 20px;
     margin-top: 40px;
 }
 
 #submit1 {
     background-color: #f08200;
     /*background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);*/
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;
     /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
     border-width: 1px;
     border-style: solid;
     border-color: #d69e31 #e3a037 #d5982d #e3a037;
     float: left;
     height: 45px;
     padding: 0;
     width: 300px;
     cursor: pointer;
     font: bold 15px Arial, Helvetica;
     color: #fff;
     margin-left: 110px;
     margin-top: 40px;
 }
 /*#submit:hover,
#submit:focus {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}*/
 
 #submit:active {
     outline: none;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
 }
 
 #submit::-moz-focus-inner {
     border: none;
 }
 /*zc.css*/
 
 .header2 {
     margin-top: 25px;
 }
 
 .header2 span {
     font-size: 20px;
 }
 
 .registers {
     overflow: hidden;
     background-color: #fff;
     margin-top: 20px;
     margin-right: 100px;
     margin-bottom: 30px;
     margin-left: 100px;
     padding-left: 240px;
     padding-top: 20px;
     padding-right: 240px;
     padding-bottom: 40px;
 }
 
 .registers ul li input {
     margin-left: 20px;
 }
 
 .zh {
     margin-bottom: 30px;
 }
 
 .registers .mr {
     padding-bottom: 20px;
 }
 
 .registers .yy {
     padding-bottom: 30px;
 }
 
 .registers .bq {
     padding-bottom: 20px;
 }
 
 .registers input {
     width: 300px;
     height: 40px;
 }
 
 .button {
     width: 56px;
     border-radius: 22px;
     padding: 10px 15px;
     outline: none;
     -webkit-appearance: none;
     display: inline-block;
     cursor: pointer;
     background-color: white;
     border: 1px solid #f08200;
     text-align: center;
 }
 
 .button1 {
     width: 28px;
     border-radius: 22px;
     padding: 10px 15px;
     outline: none;
     -webkit-appearance: none;
     display: inline-block;
     cursor: pointer;
     background-color: white;
     border: 1px solid #f08200;
     text-align: center;
 }
 
 .registers a {
     color: #333;
 }
 
 .registers a:hover {
     color: orange;
     text-decoration: none;
 }
 
 .zcyy {
     width: 99px;
     height: 40px;
     border: 1px solid gray;
     float: left;
     margin-left: 1px;
 }
 
 .zcyy1 {
     width: 99px;
     height: 40px;
     border: 1px solid orange;
     float: left;
     margin-left: 1px;
 }
 
 .zcyy p,
 .zcyy1 p {
     padding: 10px 20px;
 }