@import "../css/uikit.min.css";
@import "../base.css";
@import "../iconfont/iconfont.css";
// common 
.colorGray {
    background-color: #f7f7f7;
}

.container {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.ranking {
    background-color: white;
    padding: 0 10px;
    border: 1px solid rgb(236, 236, 236);
    .rankTit {
        li {
            h3 {
                a {
                    display: block;
                    padding-bottom: 15px;
                    border-bottom: 2px solid #ebebeb;
                    text-decoration: none;
                    color: #666;
                }
            }
        }
        .uk-active {
            h3 {
                a {
                    border-bottom: 2px solid #df481f;
                }
            }
        }
    }
    .rankTit2 {
        li {
            h3 {
                a {
                    display: block;
                    padding-bottom: 15px;
                    text-decoration: none;
                    color: #666;
                    i {
                        font-size: 24px;
                        color: #ff4800;
                    }
                }
            }
        }
    }
    .rankCon {
        margin: 0;
        padding: 5px 10px;
        .rankConTit {
            color: #b3b3b3;
        }
        li {
            list-style: none;
            span {
                width: 20px;
                height: 20px;
                line-height: 20px;
                display: inline-block;
                border-radius: 100%;
                background-color: #f08200;
                text-align: center;
                color: white;
            }
        }
        .icon-shangsheng {
            color: #f08200;
        }
        .rankConBor {
            border: 1px dashed #e8e8e8;
            margin: 8px 0;
        }
    }
    .rankConGray {
        li {
            span {
                width: 20px;
                height: 20px;
                line-height: 20px;
                display: inline-block;
                border-radius: 100%;
                background-color: #999;
                text-align: center;
                color: white;
            }
        }
        .icon-xiajiang {
            color: #48abf8
        }
    }
    .rankPic {
        img {
            width: 100%;
        }
    }
    .rankBor {
        margin-top: 15px;
        border: 1px solid #ebcaa2;
    }
    .rankTit3 {
        h3 {
            padding: 0 10px;
            height: 45px;
            line-height: 45px;
            background-image: -webkit-linear-gradient(to top, #ffcd90, #fff8e3);
            background-image: linear-gradient(to top, #ffcd90, #fff8e3);
            border-bottom: 0.8px solid rgb(236, 236, 236);
            i {
                font-size: 24px;
            }
            .icon-shipinyinliao {
                color: #f08200;
            }
            .icon-qiche-copy {
                color: #59b8e9;
            }
            .icon-iconset0457 {
                color: #f4479c;
            }
            .icon-shoubiao {
                color: #4a8bec;
            }
        }
    }
}

.ranking2 {
    border: none;
}

.uk-heading-line {
    overflow: hidden;
}

.uk-heading-line>* {
    display: inline-block;
    position: relative;
}

.uk-heading-line> :before {
    right: 100%;
    margin-right: .6em;
}

.uk-heading-line> :before,
.uk-heading-line> :after {
    content: "";
    position: absolute;
    top: calc(50% - (1px / 2));
    width: 2000px;
    border-bottom: 1px solid #f08200;
}

.proTit {
    padding: 15px 0;
    h3 {
        width: 380px;
        margin: 0 auto;
    }
}

.proRankCon {
    background-color: white;
    border: 1px solid #ebcaa2;
    padding: 15px;
    overflow: hidden;
    ul {
        margin: 0;
        padding: 0;
        li {
            float: left;
            list-style: none;
            line-height: 20px;
        }
        .icon-shangsheng {
            color: #f08200;
        }
        .proRan-1 {
            width: 5%;
            span {
                width: 20px;
                height: 20px;
                line-height: 20px;
                display: inline-block;
                border-radius: 100%;
                background-color: #f08200;
                text-align: center;
                color: white;
            }
        }
        .proRan-2 {
            width: 35%;
        }
        .proRan-3 {
            width: 25%;
        }
        .proRan-4 {
            width: 25%;
        }
        .proRan-5 {
            width: 10%;
        }
        .proRan-6 {
            p {
                text-align: justify;
                line-height: 1.8;
                color: #939393;
                margin: 0;
            }
        }
        .proRan-7{
            width: 100%;
        }
        .proRanDesc {
            /*width: 1168px;
            background: url(../images/pic-ldb2.jpg) no-repeat;*/
            border: 1px solid #f0f0f0;
            padding: 8px;
            margin-top: 10px;
            /*p{
                width: 1122px;
            }*/
        }
        .proRanBor{
            border: 1px solid #f0f0f0;
            margin: 15px 0 0;
        }
        .proRanGray{
            span{
                 background-color: #999999;
            }
        }
    }
    .proRanTit {
        color: #b3b3b3;
    }
}