.bread{
    width: 1170px;
    margin: 35px auto 0;
}
.bread .breadcrumb{
    background: #fff;
}
.bread .breadcrumb a{
    color: #aaa;
}
.bread .breadcrumb li{
    color: #aaa;
}
.detail{
    width: 1170px;
    margin: -20px auto 0;
    height: 390px;
}
.box-border{
    border: 1px solid #aaa;
    border-top: 2px solid orange;
    height: 100%;
}
.border-right{
    border-right: 0;
}
.mess span{
    padding-top: 10px!important;
}
.pleft{
    padding-left: 15px!important;
}
.messcont{
    padding-left: 20px;
}
.big{
    font-size: 20px;
    color: red;
}

.box-border h4{
    margin-top: 20px;
}
.box-border h3{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.box-border img{
    display: block;
    margin: 0 auto 10px;
}
.part{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto
}
.pro-part{
    margin-bottom: 20px;
}
.pro-part h3{
    border-bottom: 3px solid orange;
}
.table{
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.table-box{
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #ddd;
}
.table .col-lg-2{
    background: #eee;
}

.dpicon{
    width: 90%;
    margin: 25px auto 0;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    justify-content: space-around;
}
.dicon{
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    background: url('../../images/spiritcss.png');
}
.beian{
    background-position: 0 0;
}
.renzheng{
    background-position: 0 -40px;
}
.baozhang{
    background-position: 0 -80px;
}


