{php $CSS = array("css/uikit.min","base","css/style-mypp");}
{php $JS=array("js/uikit.min.js","js/base.js");}
{template 'header'}

<!-- container -->
    <section class="colorGray">
        <div class="container">
            <ul class="uk-grid uk-grid-small uk-text-center">
                {ad(68)}
            </ul>
        </div>
    </section>
    <!-- wines -->
    <section>
        <div class="container">
            <div class="wines">
                <div class="uk-grid uk-grid-small winesTit">
                    <div class="uk-width-4-5 uk-margin-top">
                        <h3>名酒</h3>
                    </div>
                    <div class="uk-width-1-5 uk-margin-top">
                        <ul class="uk-grid uk-grid-small uk-text-center winesCru">
						{php $catson = get_maincat(1,5);}
						{loop $catson $i $c}
						<li><a href="{$MODULE[5][linkurl]}{$c[linkurl]}" target="_blank" title="{$c[catname]}">{$c[catname]}</a></li>
						{/loop}
                        </ul>
                    </div>
                </div>
                <div class="winesCon">
                    <div class="uk-grid uk-grid-collapse uk-margin-top">
                        <div class="uk-width-1-5">
                            <div class="winConRed">
                                {ad(31)}
                            </div>
                        </div>
                        <div class="uk-width-4-5">
                            <ul class="uk-grid uk-grid-collapse">
								{php $str = get_cat(1);}
                                {php $tag = tag("moduleid=5&condition=catid in (".$str[arrchildid].") and (level = 1 or level = 5)&pagesize=8&template=null");}
                                {loop $tag $t}
                                <li class="uk-width-1-4">
                                    <div class="winConBox">
                                        <a href="{userurl($t[username], 'file=sell&itemid='.$t['itemid'], $domain)}"><img src="{$t[thumb]}" alt="{$t[alt]}"></a>
                                        <p><a href="{userurl($t[username], 'file=sell&itemid='.$t['itemid'], $domain)}" title="{$t[title]}" title="{$t[title]}">{dsubstr($t[title],40,'...')}
								</a></p>
                                        <span class="uk-float-left winConSTred">佣金 {$t[fee]}元</span>
                                        <span class="uk-float-right">{php $tt = get_cat($t[catid]);echo $tt[catname];}</span>
                                    </div>
                                </li>
								{/loop}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="winesAD">
                    <div class="colorGray">
                        {ad(32)}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fmgg -->
    <section>
        <div class="container fmgg">
            <div class="wines">
                <div class="uk-grid uk-grid-small winesTit">
                    <div class="uk-width-4-5 uk-margin-top">
                        <h3>快消品</h3>
                    </div>
                    <div class="uk-width-1-5 uk-margin-top">
                        <ul class="uk-grid uk-grid-small uk-text-center winesCru">
						{php $catson = get_maincat(48,5);}
						{loop $catson $i $c}
						<li><a href="{$MODULE[5][linkurl]}{$c[linkurl]}" target="_blank" title="{$c[catname]}">{$c[catname]}</a></li>
						{/loop}
                        </ul>
                    </div>
                </div>
                <div class="winesCon">
                    <div class="uk-grid uk-grid-collapse uk-margin-top">
                        <div class="uk-width-1-5">
                            <div class="winConRed winConGreen">
                                {ad(33)}
                            </div>
                        </div>
                        <div class="uk-width-4-5">
                            <ul class="uk-grid uk-grid-collapse">
							{php $str = get_cat(48);}
                                {php $tag = tag("moduleid=5&condition=(level = 1 or level = 5 )and catid in (".$str[arrchildid].")&pagesize=8&template=null");}
                                {loop $tag $t}
                                <li class="uk-width-1-4">
                                    <div class="winConBox">
                                        <a href="{userurl($t[username], 'file=sell&itemid='.$t['itemid'], $domain)}" target="_blank" title="{$t[title]}"><img src="{$t[thumb]}" alt="{$t[alt]}"></a>
                                        <p><a href="{userurl($t[username], 'file=sell&itemid='.$t['itemid'], $domain)}" target="_blank" title="{$t[title]}">{$t[title]}</a></p>
                                        <span class="uk-float-left winConSTred">佣金 {$t[fee]}元</span>
                                        <span class="uk-float-right">{php $tt = get_cat($t[catid]);echo $tt[catname];}</span>
                                    </div>
                                </li>
								{/loop}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="winesAD">
                    <div class="colorGray">
                        {ad(34)}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- artifice -->
    <section>
        <div class="container fmgg">
            <div class="wines">
                <div class="uk-grid uk-grid-small winesTit">
                    <div class="uk-width-4-5 uk-margin-top">
                        <h3>高科技</h3>
                    </div>
                    <div class="uk-width-1-5 uk-margin-top">
                        <ul class="uk-grid uk-grid-small uk-text-center winesCru">
                        {php $catson = get_maincat(286,5);}
						{loop $catson $i $c}
						<li>{$c[catname]}</li>
						{/loop}
                        </ul>
                    </div>
                </div>
                <div class="winesCon">
                    <div class="uk-grid uk-grid-collapse uk-margin-top">
                        <div class="uk-width-1-5">
                            <div class="winConRed winConBlue">
                                {ad(35)}
                            </div>
                        </div>
                        <div class="uk-width-4-5">
                            <ul class="uk-grid uk-grid-collapse">
                               {php $str = get_cat(286);}
                                {php $tag = tag("moduleid=5&condition=(level = 1 or level = 5) and catid in (286,".$str[arrchildid].")&pagesize=8&template=null");}
                                {loop $tag $t}
                                <li class="uk-width-1-4">
                                    <div class="winConBox">
                                        <a href="{userurl($t[username], 'file=sell&itemid='.$t['itemid'], $domain)}" target="_blank" title="{$t[title]}"><img src="{$t[thumb]}" alt="{$t[alt]}"></a>
                                        <p><a href="{userurl($t[username], 'file=sell&itemid='.$t['itemid'], $domain)}" target="_blank" title="{$t[title]}">{$t[title]}</a></p>
                                        <span class="uk-float-left winConSTred">佣金 {$t[fee]}元</span>
                                        <span class="uk-float-right">{php $tt = get_cat($t[catid]);echo $tt[catname];}</span>
                                    </div>
                                </li>
								{/loop}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{template 'footer'} 
</body>

</html>
