{php $CSS = array("css/uikit.min","base","css/list");}
{php $JS=array("js/uikit.min.js","js/base.js");}
{template 'header'}
	<div id="ad">{ad(50)}</div>
	<div  class="main">				
			<div  class="left">
				
				<div id="" class="clear"></div>
				<div class="exhibition">
					<div id="" class="content">
						<h1>{$title}</h1>
						<div class="time">发布日期:&nbsp;{$adddate}</div>
			<table cellspacing="1" cellpadding="10" width="90%" class="ctb">
			<tr>
			<td class="ltd">展会日期</td>
			<td class="rtd">{$fromtime} 至 {$totime}</td>
			</tr>
			<tr>
			<td class="ltd">展出城市</td>
			<td class="rtd">{$city}</td>
			</tr>
			<tr>
			<td class="ltd">展会说明</td>
			<td class="rtd">{$content}</td>
			</tr>
			</table>
						
					</div>
					
				</div>
				<div class="clear"></div>
				
			</div>
			<div  class="right">
				<div  class="industry">
					<div id="" class="title">
						按行业找
					</div>
					<ul>
						{loop $maincat $k $v}
							<li><span>|</span>&nbsp;&nbsp;<a href="{$MOD[linkurl]}{$v[linkurl]}" {if $v[catid]==$catid} class="curr"{/if}>{set_style($v[catname],$v[style])}</a></li>
						{/loop}
						
					</ul>
					<div id="" class="clear"></div>
					<div id="" class="title">按时间找</div>
					<ul class="month">
					{php for($i=1;$i<13;$i++){ $j = $i<10 ? '0'.$i : $i;}
					<li><a href="{$MOD[linkurl]}{rewrite('search.php?month='.$i.'&catid='.$catid)}" class="g" rel="nofollow">{$j}月</a></li>
					{php } }
					</ul>
				</div>

				<div class="new mt">
					<div id="" class="title">最新活动</div>
					<ul>
					<!--{tag("moduleid=$moduleid&condition=status=3&pagesize=9&order=addtime desc&template=list-exhibit", -2)}-->
					</ul>
				</div>
				
			</div>
		</div>	
	<div id="" class="clear"></div>

{template 'footer'} 
<script type="text/javascript">
	function updateEndTime()
		{
			var date = new Date();
			var time = date.getTime(); //当前时间距1970年1月1日之间的毫秒数
			$(".settime").each(function(i){
				var endDate =this.getAttribute("endTime"); //结束时间字符串
				//转换为时间日期类型
				//console.log(endDate);
				var endDate1 = eval('new Date(' + endDate.replace(/\d+(?=-[^-]+$)/,
				function (a) { return parseInt(a, 10) - 1; }).match(/\d+/g) +')');

				var endTime = endDate1.getTime(); //结束时间毫秒数

				var lag = (endTime - time) / 1000; //当前时间和结束时间之间的秒数
				if(lag > 0)
				{
					var second = Math.floor(lag % 60); 
					var minite = Math.floor((lag / 60) % 60);
					var hour = Math.floor((lag / 3600) % 24);
					var day = Math.floor((lag / 3600) / 24);
					$(this).html("距开幕"+day+"天");
				}else{
					$(this).removeClass("settime");
					//alert($(this).attr("id"));
					$(this).html("已经结束啦！");
				}
			});
			$(".settimeTwo").each(function(i){
				var endDate =this.getAttribute("endTime"); //结束时间字符串
				//转换为时间日期类型
				//console.log(endDate);
				var endDate1 = eval('new Date(' + endDate.replace(/\d+(?=-[^-]+$)/,
				function (a) { return parseInt(a, 10) - 1; }).match(/\d+/g) +')');

				var endTime = endDate1.getTime(); //结束时间毫秒数

				var lag = (endTime - time) / 1000; //当前时间和结束时间之间的秒数
				if(lag > 0)
				{
					var second = Math.floor(lag % 60); 
					var minite = Math.floor((lag / 60) % 60);
					var hour = Math.floor((lag / 3600) % 24);
					var day = Math.floor((lag / 3600) / 24);
					$(this).html("距开幕:<e>"+day+"天</e>");
				}else{
					$(this).removeClass("settime");
					//alert($(this).attr("id"));
					$(this).html("已经结束啦！");
				}
			});
			setTimeout("updateEndTime()",1000);
			
		}
		$(function(){
			updateEndTime();
		});
	</script>
</body>

</html>
