/* 初始化 */
*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
.flexed{
    display: flex;
    justify-content: space-around;
}
input, button{
    outline: none;
}
html {
    font-size : 20px!important;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important;
    }
}

/* header部分 */
.header{
    width: 100%;
    height: 2.5rem;
    border-bottom: .05rem solid #ccc;
}
.header i{
    display: inline-block;
    width: 1.3rem;
    height: 100%;
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding-left: .5rem;
}
.header img{
    height: 2.5rem;
    width: 14rem;
}
.header p{
    width: 14rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}
.top{
    position: fixed;
    top: 0;
    z-index: 1000;
}
/* banner部分 */
.slide {
    margin: .5rem 0;
    height: 6rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.pic-list {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.pic-list li {
    float: left;
    width: 25%;
    height: 100%;
}
.pic-list li img {
    width: 100%;
    height: 100%;
}
.icon-list {
    position: absolute;
    bottom: .5rem;
    left: 80%;
    transform: translateX(-50%);
}
.icon-list li {
    float: left;
    margin: 0 .25rem;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.icon-list .active {
    background: orange;
}

/* 菜单部分 */
.part ul{
    flex-wrap: wrap;
    justify-content: flex-start;
}
.part li{
    width: 33%;
    margin-bottom: .5rem;
}
.part i{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #fff;
    background: orange;
    line-height: 2.5rem;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 1.4rem;
}
.part span{
    font-size: .8rem;
    display: block;
    text-align: center;
}
.menu{
    padding-bottom: .5rem;
    border-bottom: .05rem solid #ccc;
}
.menu p{
    text-align: center;
    font-size: .8rem;
}
.darkorange{
    background: darkorange!important;
}
.red{
    background: red!important;
}
.darkblue{
    background: darkblue!important;
}
.blue{
    background: rgb(7, 131, 168)!important;
}
.purple{
    background: rgb(139, 16, 139)!important;
}
.menu_box li{
    padding: .7rem 1rem;
    position: relative;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.menu_box i{
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.menu_box span{
    padding-left: 1rem;
    font-size: 1rem;
    position: absolute;
    top: .7rem;    
}
.menu_box .right{
    position: absolute;
    top: .5rem;
    right: 1rem;
}

/* 热门推荐 */
.hot{
    background: #fff;
    margin-top: .5rem;
    border-top: .05rem solid #ccc;
    border-bottom: .05rem solid #ccc;
}
.reco{
    font-size: .8rem;
    padding-top: .5rem;
    padding-left: .5rem;
    letter-spacing: .2rem;
}
.hot li{
    padding: .5rem 1rem;
    border-bottom: .05rem solid #ccc;
}
.hot img{
    width: 6.5rem;
    height: 5rem;
    border-radius: .5rem;
}
.mess{
    width: calc(100% - 6.5rem);
    height: 5rem;
    font-size: .8rem;
    padding-left: .5rem;
}
.title{
    font-weight: 600;
}
.mess p{
    padding-top: .1rem;
}
.money{
    font-size: .9rem;
}
.more_pro{
    text-align: center;
    font-size: .9rem;
    padding: .5rem 0;
}

/* 行业资讯 */
.article ul{
    margin-top: .5rem;
    background: #fff;
}
.article>ul>li{
    color: #aaa;
    font-size: .8rem;
    padding-bottom: .5rem;
    border-bottom: .05rem;
}
.a_active{
    color: #000!important;
    border-bottom: .05rem solid darkorange!important;
}
.a_mess{
    padding: 0 1rem;
}
.a_show ul{
    margin-left: 1.25rem;
}
.a_show li{
    font-size: .8rem;
    padding-bottom: .25rem;
    list-style-type: square;
}

/* 大分类 */
.smallClass{
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1rem;
    background: #fff;
}
.smallClass span{
    display: block;
    width: 25%;
    text-align: center;
    margin-top: .9rem;
}
/* 店铺详情 */
.intro{
    padding: .5rem 1rem;
}
.intro img{
    border: .05rem solid orange;
}
.p_intro ul{
    padding: .5rem 0;
    background: #f8f8f8;
}
.p_intro li{
    font-size: .8rem;
}
.p_active{
    color: orange;
}
/*footer部分*/
.blank{
    height: 2.5rem;
}
.footer{
    width: 100%;
    height: 2.5rem;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    border-top: .05rem solid #ccc;
}
.footer li{
    width: 50%;
    height: 2.5rem;
    text-align: center;
}
.footer span{
    display: block;
    font-size: 1.2rem;
}
.footer p{
    font-size: .7rem;
}
.left span{
    font-size: 1.5rem;
}
.left p{
    margin-top: -0.25rem;
}
.right span{
    padding-top: .15rem;
}
/* 搜索 */
.search{
    width: 100%;
    /* height: 2rem; */
    
}
.search i{
    position: absolute;
    top: .6rem;
    left: 11%;
    font-size: .7rem;
    color: #ccc;
}
.search form{
    /* justify-content: space-around; */
    position: relative;
}
.search input{
    width: 70%;
    margin-top: .3rem;
    height: 1.2rem;
    border: .05rem solid #ccc;
    border-radius: .6rem;
    padding-left: 3em;
    margin-left: .5rem;
}
.search button{
    width: 15%;
    margin-top: .3rem;
    border: 0;
    background: #fff;
    font-size: .7rem;
    margin-left: -1.5rem;
}