*{
    margin: 0;
    padding: 0;
}
input{
    outline: none;
}
ul{
    margin-bottom: 0!important;
}
ul li{
    list-style-type: none;
}
button{
    border: none;
    outline: none;
}
.floated{
    float: left;
}
a{
    text-decoration: none;
}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,
.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,
.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
    padding: 0!important;
}
.flexed{
    display: flex;
    justify-content: space-around;
}
/*header*/
.header .head-top{
    width: 100%;
    height: 36px;
    background: darkorange;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
}
.topcont{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height: 36px;
}
.topspan{
    margin-right: 15px;
}
.gold{
    color: gold;
    cursor: pointer;
    font-weight: 600;
}
.orange:hover{
    color: #f08200;
}
.gove{
    margin-right: 80px;
    color: gold;
}
.gove:hover{
    color: gold;
}
.white{
    color: #fff;
}
.header .head-end{
    width: 100%;
    height: 95px;
}
.endcont{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
/* .searchbox{
    padding: 32px 0px 0px;
    width: 498px;
    height: 92px;
    margin-left: 30px;
    position: relative;
}
.search-tx{
    width: 420px;
    padding-top: 6px;
    padding-bottom: 4px;
    line-height: 24px;
    text-indent: 72px;
    border: 2px solid #f08200;
    border-right: 4px solid #f08200;
}
.search-btn{
    background: #f08200;
    color: #fff;
    border: none;
    width: 70px;
    position: absolute;
    top: 32px;
    font-weight: bold;
    cursor: pointer;
    height: 38px;
}
.hot{
    color: #999;
    font-size: 12px;
    margin-top: 8px;
}
.extbtn{
    padding-top: 32px;
}
.extbtn .btnlist{
    display: inline-block;
    width: 98px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    color: #333333;
    border: 1px solid #dddddd;
}
.extbtn .btnlist a{
    color: #000;
}
.extbtn .btnlist a:hover{
    color: #000;
}
.firstbtn{
    margin-left: 65px;
} */
.head-menu{
    width: 100%;
    height: 34px;
    margin-top: 30px;
}
.indexmenu{
    width: 100%;
    margin: 0 auto;
}
.indexmenu ul{
    display: flex;
    justify-content: space-between;
}
.indexmenu li a{
    display: block;
    color: #000;
    width: 75px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
.indexmenu li a:hover{
    background:darkorange;
    text-decoration: none;
    color: #fff;
}
#first{
    background:darkorange;
    color: #fff;
}


/*maincontent*/
    /*menu 轮播图*/
.banner{
    background: #f7f7f7;
    margin-top: 20px;
}
.menu{
    width: 1200px;
    height: 465px;
    height: 500px;
    margin: 0 auto;
}
/* .menulist p{
    display: inline-block;
    font-size: 14px;
    background: #f08200;
    color: #fff;
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding-left: 20px;
    margin-bottom: 0;
}
.menulist li{
    position: relative;
    background: #fff;
    color: #333;
    height: 42px;
    line-height: 42px;
    padding-left: 20px
}
.menulist li i{
    position: absolute;
    right: 40px;
} */
/* .mainmenu{
    display: none;
    width: 400px;
    height: 462px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 290px;
    z-index: 1000;
} */
.slide{
    height: 462px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.pic-list{
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.pic-list li{
    float: left;
}
.pic-list li img{
    width: 100%;
    height: 100%; 
}
.slide .btnc{
    opacity: 0.5;
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    background: white;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    transition: all 1s;
    transform: translateY(-50%);
}
.next{
    right: 0;
}
.icon-list{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.icon-list li{
    float: left;
    margin: 0 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}
.icon-list .active{
    background: #fff;
}


/* 固定广告 */
.fixed{
    position: fixed;
    width: 120px;
    padding: 20px 10px;
    z-index: 1000;
    background: #fff;
    top: 100px;
    border: 1px solid #eee;
}
.fixed img{
    padding: 5px 0;
}
.left-ad{
    left: 10%;
}
.right-ad{
    right: 10%;
}
.fixed button{
    position: absolute;
    right: 10px;
    background: #fff;
}

/* 广告位 */
.ad{
    width: 1200px;
    /* height: 900px; */
    margin: 0 auto; 
}
.big{
    width: 100%;
}
.middle{
    width: 49.5%;
}
.small{
    width: 24.5%;
}
.box{
    box-sizing: border-box;
    margin-top: 10px;
    /* padding: 0 5px; */
}
.ad-img{
    width: 1200px;
    margin: 40px auto;
    height: 470px;
}
.ad-img h4{
    position: relative;
}
.ad-img a{
    font-size: 12px;
    position: absolute;
    right: 10px;
    color: #000;
}
.ad-img-cont{
    width: 100%;
    height: 420px;
}
.ad-title{
    width: 275px;
    height: 100%;
}
.ad-img-cont ul{
    width: 175px;
    height: 100%;
}
.ad-img-cont li{
    height: 140px;
    border: 1px solid #eee;
    border-top: 0;
}
.ad-title img{
    width: 100%;
    height: 100%;
}
.small-ad img{
    width: 100%;
    height: 110px;
}
.small-ad p{
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 0;
}

/* 行业资讯展示 */
.article-model{
    width: 1200px;
    margin: 0 5px;
    margin: 30px auto;    
}
.article-model h4{
    margin: 0 0 10px;
    font-weight: 600;
}
.article{
    height: 470px;
}
.banner-part{
    width: 380px;
}
.banner-top{
    height: 350px;
}
.banner-img{
    height: 320px;
}
.banner-img li{
    height: 100%;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-end{
    height: 120px;
}
.end-ad{
    width: 185px;
    position: relative;
}
.banner-part p{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: rgba(0,0,0,0.1);
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.article-part{
    width: 520px;
    border: 2px solid #eee;
}
.article-part .tab li{
    width: 33.33%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-top: 3px solid #fff;
}
.tab-cont{
    margin-top: 20px;
    display: none;
}
.tab-cont li{
    height: 30px;
    line-height: 30px;
    margin-left: 50px;
    list-style-type: disc;
    color: #bbb;
}
.tab-cont li span{
    color: #000;
}
.one{
    display: block;
}
.hot-part{
    width: 230px;
    border: 2px solid #eee;
}
.hot-part h5{
    text-align: center;
    font-size: 18px;
    margin-bottom: 37px;
}
.hot-part li{
    width: 100%;
    height: 120px;
    margin-top: 20px;
}
.article .active{
    color: darkorange;
    border-top: 3px solid darkorange!important;
}

/*footer部分*/
.footer{
    width: 100%;
    /* height: 232px; */
    margin-top: 36px;
    padding-top: 32px;
    background: #333;
}
.footercont{
    width: 1200px;
    height: 163px;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
}
.gywm{
    margin-left: 35px;
    width: 100px;
    color: #d0d0d0;
}
.gywm ul{
    padding-top: 10px;
}
.gywm li{
    height: 25px;
    line-height: 25px;
}
.gywm a{
    color: #d0d0d0
}
.gywm a:hover{
    color: #d0d0d0
}
.weixin img{
    margin-left: 15px;
    cursor: pointer;
}
.lxwm{
    color: #d0d0d0;
    margin-left: 60px;
}
.lxwm h3{
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 0;
}
.lxwm p{
    font-size: 24px;
}
.lxwm a{
    display: block;
    background: #f08200;
    border: 1px solid #f08200;
    color: #fff;
    width: 90px;
    height: 35px;
    padding: 0 12px;
    border-radius: 5px;
    margin-top: 15px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
.lxwm a:hover{
    color: #fff;
    text-decoration: none;
}
.keyword p{
    text-align: center;
    color: #949494;
    font-size: 16px;
    padding: 5px 0px 20px 0px;
    margin: 0;
}