{php $CSS = array("css/uikit.min","base","css/list");}
{php $JS=array("js/uikit.min.js","js/base.js");}
{template 'header'}
<div id="ad"></div>
<div class="content">
			<div  class="main">				
				<div  class="left">
					<div id="select" style="width:920px">
					<dl>
						<dt>行业</dt>
						<dd>
							<div><a href="{$MOD[linkurl]}" {if $catid==''} class="curr"{/if}>不限</a></div>
								{loop $maincat $k $v}
									<div><a href="{$MOD[linkurl]}{$v[linkurl]}" {if $v[catid]==$catid} class="curr"{/if}>{set_style($v[catname],$v[style])}</a></div>
								{/loop}
							
						</dd>
					</dl>
					<dl>
						<dt>区域</dt>
						<dd>
							<div><a href="###" onclick="Go(url+'areaid=');" {if $areaid==''} class="curr"{/if}>不限</a></div>
							{php $mainarea = get_mainarea(0)}
							{loop $mainarea $k $v}
							<div><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$v[areaid].'&catid='.$catid)}" {if $v[areaid]==$areaid} class="curr"{/if}>{$v[areaname]}</a></div>
							{/loop}
						</dd>
					</dl>
					<dl>
						<dt>时间</dt>
						<dd>
							<div><a href="" class="curr">不限</a></div>
							<div><a href="{$MOD[linkurl]}{rewrite('search.php?day=1&catid='.$catid)}">今天</a></div>
							<div><a href="{$MOD[linkurl]}{rewrite('search.php?day=2&catid='.$catid)}">昨天</a></div>
							<div><a href="{$MOD[linkurl]}{rewrite('search.php?day=7&catid='.$catid)}">7天内</a></div>
							<div><a href="{$MOD[linkurl]}{rewrite('search.php?day=15&catid='.$catid)}">15天内</a></div>
							<div><a href="{$MOD[linkurl]}{rewrite('search.php?day=30&catid='.$catid)}">30天内</a></div>
							<div><a href="{$MOD[linkurl]}{rewrite('search.php?day=60&catid='.$catid)}">2月内</a></div>
						</dd>
					</dl>
				</div>	
					<div  class="info">
						<!--<div  class="search">
							为您找到 <em>{$items}</em> 相关创业者
						</div>-->
						<div  class="search">
							为您找到 <em>{$DT[data_jm]}</em> 相关创业者
						</div>
						<div  class="sort">
							<a class="uk-button" href="{$MOD[linkurl]}{rewrite('search.php?addtime=desc&catid='.$catid)}">默认排序</a>
							<a class="uk-button" style="color:#000">时间排序
							<em><i class="uk-icon-caret-up" onclick="Go('{$MOD[linkurl]}{rewrite('search.php?addtime=desc&catid='.$catid)}');"></i><i class="uk-icon-caret-down" onclick="Go('{$MOD[linkurl]}{rewrite('search.php?addtime=asc&catid='.$catid)}');"></i></em></a>
						</div>
						<div  class="page mr">第{$page}/<!--{php echo (round($items/$pagesize)+1);}-->页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="uk-button" href="
						{if $page>1}$MOD[linkurl].'list-'.$catid.'-'.$page+1.'.html'{else}#{/if}">></a></div>
					
					</div>
					<div class="entrepreneur">
						<ul>
						{loop $tags $i $t}
							<li>
								<div id="" class="img" style="background-image: url({$t[img]});">
								</div>
								<div id="" class="text">
									<div id="" class="left">
										<div id="" class="title">
											<span>[意向]</span>&nbsp;&nbsp;
									
										<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a>
										</div>
										<div id="" class="tag">
											<ul>
									{php $tag = explode(" ",$t[tag])}
									{loop $tag $k $ts}
									{if $ts}
										<li class="btn{$k+1}"><a href="{$MOD[linkurl]}search.php?kw={$ts}" title="{$ts}">{$ts}</a></li>
									{/if}
									{/loop}
											</ul>
										</div>
										<div id="" class="other">
											<ul>
												<li>年收入<P>{$t[nsr]}万</P></li>
												<li>工作职务<P>{$t[gzzw]}</P></li>
												<li>最高学历<P>{$t[zgxl]}</P></li>
												<li	>工作经历<P>{$t[gzjl]}</P></li>
											</ul>
											
										</div>	
									</div>
									<div id="" class="right mt10">
										<ul>
											<!--<li>{if $datetype}{timetodate($t[addtime], $datetype)}发布{/if}</li>-->
											<li>{$t[username]}</li>
											<li class="vip mt5">
											{if $_groupid != 7}
												<a href="#modal" data-uk-modal="{center:true}"><span>联系方式</span>(VIP查看)</a>
											{else}
												<a href="{$t[linkurl]}"><span>联系方式</span>(VIP查看)</a></li>
											{/if}
											<li style="color:#ff3918">积分{$t[fee]}</li>
										</ul>
										
									</div>
									
								</div>
							
							</li>
							{/loop}
						</ul>

					</div>
					<div id="" class="clear"></div>
					<ul class="uk-pagination mt">
						{if $showpage && $pages}{$pages}{/if}
					</ul>
				</div>
				<div  class="right ">
					<div  class="ad mt">
						
					</div>
					<div  class="hot">
						<div  class="title">热门项目</div>
						<ul>
							<!--{tag("moduleid=28&condition=status=3&pagesize=9&order=hits desc&template=list-sell", -2)}-->

						</ul>
					</div>
					<div  class="hot">
						<div  class="title">优质项目</div>
						<ul>
							<!--{tag("moduleid=28&condition=status=3&pagesize=9&order=rand() desc&template=list-sell", -2)}-->

						</ul>
					</div>
				</div>
			</div>	
		</div>	
		<!-- 模态对话框 -->
	<div id="modal" class="uk-modal">
		<div class="uk-modal-dialog uk-modal-dialog-lightbox">
			<a href="" class="uk-modal-close uk-close"></a>
			<a href="/member/charge.php?action=pay" target="_blank"><img src="/skin/xiaobao/images/pay.jpg" width="352" height="288" alt=""></a>
		</div>

	</div>
		<div id="" class="clear"></div>

{template 'footer'} 
</body>

</html>
