{php $CSS = array("css/uikit.min","base","css/list");}
{php $JS=array("js/uikit.min.js","js/base.js");}
{template 'header'} 
<div class="bg mt">
	<div class="main ">
    	
	<a href="{$MODULE[1][linkurl]}" class="glide_1 glide">小宝招商</a>&gt;<span class="glide_3 glide">{$title}</span> 
   
    <div class="part" >
    	<h1 class="cuti uk-margin-bottom-remove" style="text-align:center">{$title}</h1>
        <p class="uk-margin-bottom-remove part-2_1" >{$content}</p>
        
    </div>

    </div>
 </div>

{template 'footer'}  
</body>

</html>
