<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="renderer" content="webkit">
    <title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$DT[sitename]}{/if}{/if}</title>
	{if $head_keywords}
	<meta name="keywords" content="{$head_keywords}"/>
	{/if}
	{if $head_description}
	<meta name="description" content="{$head_description}"/>
	{/if}
	{if $head_mobile}
	<meta http-equiv="mobile-agent" content="format=html5;url={$head_mobile}">
	{/if}
    <link rel="stylesheet" href="/skin/xiaobao/css/uikit.min.css">
    <link rel="stylesheet" href="/skin/xiaobao/base.css">
    <link rel="stylesheet" href="/skin/xiaobao/css/list.css" />
    <script src="/skin/xiaobao/js/jquery.min.js"></script>	
	<script src="/skin/xiaobao/js/uikit.min.js"></script>
	<script src="/skin/xiaobao/js/base.js"></script>
	
	<!--[if lte IE 9]>
	<script src="/skin/xiaobao/js/respond.min.js"></script>
	<script src="/skin/xiaobao/js/html5shiv.min.js"></script>
	<![endif]-->
	<script>
		function Go(u) {			
			window.location = u;
		}
		//pop菜单
		$(function(){
			$('#myswitcher').hide();
			$(".menulmain h3").hover(function(){
				$("#myswitcher").show();
			},function(){
				$("#myswitcher").hide();
			});
			$("#myswitcher").hover(function(){
				$("#myswitcher").show();
			},function(){
				$("#myswitcher").hide();
			});
		})
		
	</script>
</head>

<body>   

{template 'header'}
<div class="content">
			<div  class="main">
				<div id="select">
					<dl>
						<dt>行业</dt>
						<dd>
							<div><a href="{$MOD[linkurl]}" {if $catid==''} class="curr"{/if}>不限</a></div>
								{loop $maincat $k $v}
									<div><a href="{$MOD[linkurl]}{$v[linkurl]}" {if $v[catid]==$catid} class="curr"{/if}>{set_style($v[catname],$v[style])}</a></div>
								{/loop}
							
						</dd>
					</dl>
				</div>	
				<div  class="left">
					<div  class="info">
						<div  class="search">
							为您找到 <em>{$items}</em> 相关产品
						</div>
						<div  class="sort">
							<a class="uk-button" href="{$MOD[linkurl]}{rewrite('search.php?addtime=desc&catid='.$catid)}">默认排序</a>
							<a class="uk-button" style="color:#000">时间排序
							<em><i class="uk-icon-caret-up" onclick="Go('{$MOD[linkurl]}{rewrite('search.php?addtime=desc&catid='.$catid)}');"></i><i class="uk-icon-caret-down" onclick="Go('{$MOD[linkurl]}{rewrite('search.php?addtime=asc&catid='.$catid)}');"></i></em></a>
						</div>
						<div  class="page mr">第{$page}/<!--{php echo (round($items/$pagesize)+1);}-->页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="uk-button" href="
						{if $page>1}$MOD[linkurl].'list-'.$catid.'-'.$page+1.'.html'{else}#{/if}">></a></div>
					
					</div>
					<div class="product">
						{loop $tags $i $t}
						<dl>
							<dt>
								<a href="{userurl($t[username], 'file=sell&itemid='.$t['itemid'], $domain)}" title="{$t[alt]}"><img src="{imgurl($t[thumb])}" alt="{$t[alt]}" /></a>
								<p><a href="{userurl($t[username], 'file=sell&itemid='.$t['itemid'], $domain)}" title="{$t[alt]}">{$t[title]}
								</a></p>
								<span>{dsubstr($t[brand],30,'')}</span>
							</dt>
							<dd>
								<div ><span>赏金金额</span><p>{$t[jine]}元</p></div>
								<div ><span>关注度</span><p>{$t[hits]}</p></div>
							</dd>
						</dl>
						{/loop}
					</div>
					<div id="" class="clear"></div>
					<ul class="uk-pagination mt">
						{if $showpage && $pages}{$pages}{/if}
					</ul>
				</div>
				<div  class="right">
					<div  class="ad">
						{ad(37)}
					</div>
					<div  class="hot">
						<div  class="title">热门代理商</div>
						<ul>
							<!--{tag("moduleid=28&condition=status=3&pagesize=9&order=hits desc&template=list-sell", -2)}-->

						</ul>
					</div>
					<div  class="hot">
						<div  class="title">优秀业务员</div>
						<ul>
							<!--{tag("moduleid=9&condition=status=3&pagesize=9&order=hits desc&template=list-sell", -2)}-->

						</ul>
					</div>
				</div>
			</div>	
		</div>	
		<div id="" class="clear"></div>

{template 'footer'} 
</body>

</html>
