*{
    margin: 0;
    padding: 0;
}
input{
    outline: none;
}
ul li{
    list-style-type: none;
}
button{
    border: none;
    outline: none;
}
.floated{
    float: left;
}
.flexed{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 广告位 */
.ad{
    width: 1200px;
    /* height: 900px; */
    margin: 0 auto; 
}
.big{
    width: 100%;
}
.middle{
    width: 50%;
}
.small{
    width: 25%;
}
.box{
    box-sizing: border-box;
    margin-top: 10px;
    /* padding: 0 5px; */
}
/* .article-model{
    width: 1000px;
    height: 300px;
    margin: 0 5px;
    margin: 30px auto;
    border: 1px solid #ccc;
    
}
.article-model h4{
    background: #ddd;
    margin: 0;
    padding: 10px 0 10px 10px;
}
.part{
    width: 30%;
}
.showbox{
    position: relative; 
    overflow: hidden;
    height: 200px;
}
.oul{
    position: absolute;
    top: 0;
} */



