.title{
    height: 50px;
    line-height: 50px;
    font-size: 34px;
    margin-top: 22px;
    margin-left: -40px;
    border-left: 2px solid #ddd;
}
.wrap{
    width: 100%;
    height: 636px;
    background: url('../imags/login.jpg') 100% 100%;
}
.container{
    height: 100%;
    margin: 0 auto;
}
.login{
    margin-top: 100px;
    height: 400px;
    background: #fff;
}
.footer{
    margin-top: 0;
}