<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="renderer" content="webkit">
    <title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$DT[sitename]}{/if}{/if}</title>
	{if $head_keywords}
	<meta name="keywords" content="{$head_keywords}"/>
	{/if}
	{if $head_description}
	<meta name="description" content="{$head_description}"/>
	{/if}
	{if $head_mobile}
	<meta http-equiv="mobile-agent" content="format=html5;url={$head_mobile}">
	{/if}
	<link rel="stylesheet" href="/skin/xiaobao/base.css">
    <link rel="stylesheet" href="/skin/xiaobao/css/uikit.min.css">
	<link rel="stylesheet" href="/skin/xiaobao/css/news.css">
	<script src="/skin/xiaobao/js/jquery.min.js"></script>
	<script>
    $(function () {
        $('.nav li').hover(function () {
            $('span', this).stop().css('height', '2px');
            $('span', this).animate({
                left: '0',
                width: '100%',
                right: '0'
            }, 200);
        }, function () {
            $('span', this).stop().animate({
                left: '50%',
                width: '0'
            }, 200);
        });
    });

</script>
</head>

<body>
  <div class="header">
        <!--header top-->
        <div class="top">
            <div class="w1180">
                <div class="topleft" >
				<span id="destoon_member"></span>
				<span>新增<i><!--{php $newuser=tag("table=member&condition=groupid in (6,7) and regtime >24*3600*30&fields=count(userid) as num&template=null");}-->
				{$newuser[0]["num"]}</i>商户，共<i><!--{php $user=tag("table=member&condition=groupid in (6,7)&fields=count(userid) as num&template=null");}-->
				{$user[0]["num"]}</i>商户<i><!--{php $product=tag("moduleid=5&condition=status>2&fields=count(itemid) as num&template=null");}-->
				{$product[0]["num"]}</i>产品</span></div>
                <div class="topright">
                    <span>客服热线：</span> <span class="tell">{$DT[telephone]}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="TrHeader container">
        <div class="TrHeadLeft">
            <div class="TrHeadLogo">
                <a href="/"><img src="{$DT[logo]}" alt="" class="uk-float-left"></a>
            </div>
            <div class="TrHeadTrade">
                <h1>{$MOD[name]}</h1>
            </div>
        </div>
        <div class="TrHeadRight">
            <ul>
                <li class="active"><a href='/'>首页</a><span></span></li>
				
                <li><a href="{$MOD[linkurl]}{rewrite('list.php?catid=189',0,1)}" {if $catid==189}class="on"{/if}>快消品</a><span></span></li>
                <li><a href="{$MOD[linkurl]}{rewrite('list.php?catid=181',0,1)}">酒业</a><span></span></li>
                <li><a href='{$MOD[linkurl]}{rewrite('list.php?catid=297',0,1)}'>高科技</a><span></span></li>
            </ul>
        </div>
    </div>
	<div class="header">
        <div class="container">
            <div class="nav">
				
               
					<form action="{$MOD[linkurl]}search.php" id="fsearch" class="uk-form">
					<input type="text" size="60" name="kw" value="{$kw}" class="uk-margin-small-top"/>

					<button type="submit" class="uk-button">提交</button>
					</form>
				
            </div>
        </div>
    </div>
    <!-- content -->
	<div class="container">
			<div class="left">
				<ul>
					{loop $tags $i $t}
						<li>
							<div id="" class="img">
								<a href="{$t[linkurl]}" title="{$t[alt]}"><img src="{$t[thumb]}" alt=""></a>
							</div>
							<div id="" class="text">
								<h1><a href="{$t[linkurl]}" title="{$t[alt]}">{$t[title]}</a></h1>
								<p>{dsubstr($t[introduce],120,'')}</p>
								<span class="">{cat_pass($t[catid], 'catname')}    {timetodate($t[addtime], $datetype)}</span>
							</div>
						</li>
					{/loop}
				</ul>
				<!--uk-pagination-->
			<div class="clear"></div>
			<ul class="uk-pagination mt">
				{if $showpage && $pages}{$pages}{/if}
			</ul>
			</div>
			
			<div id="" class="right">
				<div id="" class="title">新闻快讯</div>
				<ul>
					<!--{tag("moduleid=$moduleid&condition=status=3&areaid=$cityid&order=".$MOD[order]."&pagesize=10&target=_blank&template=list-newarc")}-->
				</ul>
			</div>
	</div>
   
	<div id="" class="clear"></div>
	{template 'footer'} 
</body>
</html>